@using NHibernate.Mapping
@using web_app.Interfaces
@using web_app.Models
@model web_app.Models.Client
@{
	ViewBag.Title = "Инструкция эксплуатации";
	Layout = "~/Views/Shared/_Layout.cshtml";
	IWebOperator webOperator = ViewBag.WebOperator;
	List<User> userList = ViewBag.UserList;
	var login = ViewBag.Login;
	var password = ViewBag.Password;

}
@if (!string.IsNullOrEmpty(login) && !string.IsNullOrEmpty(password))
{
	<div class="panel panel-body">
		<div class="col-xs-4">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td><strong>Логин:</strong></td>
						<td>@login</td>
					</tr>
					<tr>
						<td><strong>Пароль:</strong></td>
						<td>@password</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
}
		<div class="panel panel-default">
			@if (userList.Count>0)
			{
		<!-- Default panel contents -->
				<div class="panel-heading">
					<h4>Инструкция эксплуатации FTP-сервиса</h4>
				</div>
				<div class="panel-body">
					<div class="bs-callout bs-callout-info">
						<h4>Сервис</h4>
						Корневая директория сервиса ftp://ftp.analit.net/ANALIT/@Model.Id, все операции производятся в поддиректориях.<br>
						<b>Директории обмена файлами</b><br>
						ftp://ftp.analit.net/ANALIT/@Model.Id/prices - прайс-листы.<br>
						ftp://ftp.analit.net/ANALIT/@Model.Id/orders - заявки.<br>
						ftp://ftp.analit.net/ANALIT/@Model.Id/waybills - накладные.<br>
					</div>
					<div class="bs-callout bs-callout-info">
						<h4>Прайс-листы</h4>
						Прайс-листы формируются по запросу, маркером запроса служит файл request.txt.<br>
						Если файл ftp://ftp.analit.net/ANALIT/@Model.Id/prices/request.txt существует в директорию ftp://ftp.analit.net/ANALIT/@Model.Id/prices/ будут выгружены прайс листы поставщиков.<br>
						Названия файлов формируются как "Код прайс-листа"_"Код региона".xml. Пример <a href="@Url.Content("~/Content/demo-price.xml")">прайс-листа</a>.<br>
						После завершения выгрузки файл запроса будет удален.<br>
						<b>Поля</b><br>
						CODE - Код поставщика<br>
						ACODE - Код товара по справочнику АналитФармация<br>
						ACODECR - Код производителя по справочнику АналитФармация<br>
						NAME - Наименование<br>
						VENDOR - Производитель<br>
						VENDORBARCODE - штрих код<br>
						QTTY - остаток<br>
						VALID_DATE - срок годности<br>
						ISBAD - признак уценки, 1 или 0<br>
						COMMENT - примечание<br>
						XCODE - Код предложения, передавать при формировании заявок<br>
						MINQTTY - минимальное количество заказа<br>
						MINSUM - минимальная сумма заказа<br>
						PACKQTTY - кратность<br>
					</div>
					<div class="bs-callout bs-callout-info">
						<h4>Заявки</h4>
						Заявки загружаются из директории ftp://ftp.analit.net/ANALIT/@Model.Id/orders по маске "*.ord".<br>
						Пример <a href="@Url.Content("~/Content/demo-order.xml")">заявки</a>.<br>
						<b>Поля</b><br>
						QTTY - количество<br>
						XCODE - код предложения<br>
						PRICE - цена<br>
					</div>
					<div class="bs-callout bs-callout-info">
						<h4>Накладные</h4>
						Накладные выгружаются в директорию ftp://ftp.analit.net/ANALIT/@Model.Id/waybills.<br>
						Пример <a href="@Url.Content("~/Content/demo-waybill.xml")">накладной</a>.<br>
						<b>Поля</b><br>
						CODE - Код поставщика<br>
						NAME - Наименование<br>
						VENDOR - Производитель<br>
						QTTY - Количество<br>
						SPRICE - Цена поставщика без НДС<br>
						VPRICE - Цена производителя без НДС<br>
						NDS - Ставка НДС<br>
						SNDSSUM - НДС в рулях<br>
						SERIA - Серия<br>
						VALID_DATE - Срок годности<br>
						GTD - Номер таможенной декларации<br>
						SERT_NUM - Сертификат<br>
						VENDORBARCODE - Штрих код<br>
						REG_PRICE - Цена гос.реестра<br>
						ISGV - Признак ЖНВЛС<br>
					</div>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Подключенные пользователи:</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in userList)
						{
							<tr>
								<td>@item.Name</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<div class="panel-body">
					<div class="panel">
						<a href="@Url.Action("SwitchOnIntegration",new {Model.Id})" class="btn btn-success">Включить интеграцию</a>
					</div>
				</div>
			}
		</div>
