@using System.Web.Mvc.Html
@using System.Web.Optimization
@using web_app.Controllers
@using web_app.Interfaces
@{
  Tuple<string, string> message = ViewBag.TopMessage;
	IWebOperator webOperator = ViewBag.WebOperator;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Интеграция с ИнфоАптекой</title>
	@Styles.Render("~/Content/css")

</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Интеграция с ИнфоАптекой", "Index", "Client", new {area = ""}, new {@class = "navbar-brand"})
			</div>
			<div class="navbar-collapse collapse">
				@if (Request.IsAuthenticated)
				{
					<ul class="nav navbar-nav">
						<li>
							<a id="LinkClientList" href="@Url.Action("Index", "Client")">Клиенты</a>
						</li>
					</ul>
					if (webOperator != null && webOperator.IsAdmin)
					{
						 <ul class="nav navbar-nav">
							 <li>
									<a id="LinkUserList" href="@Url.Action("UserList", "Settings")">Управление пользователями</a>
							 </li>
						 </ul>
					 }
				}
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
<div class="container body-content">
	@if (message!=null  && !string.IsNullOrEmpty(message.Item1))
	{
	<div id="MessageToShow" class="panel panel-@message.Item2">
		<div class="panel-heading">Уведомление:</div>
		<div class="panel-body">
			<p>
				@Html.Raw(message.Item1)
			</p>
		</div>
	</div>
	}
	@RenderBody()
</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/script")
	@RenderSection("scripts", required: false)
</body>
</html>
